<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <nav class="navegacao">
        <a href="/"> Home page</a>
        <a href="/contatos"> Contatos</a>
        <a href="/produtos"> Produtos</a>
    </nav>

    {% block content %}
    {% endblock %}

</body>
<footer>
    <p> Desenvolvido por Isabella Pantolfo Melo </p>
    <nav>
        <div class="rodape">
            <a href="/termos"> Termos de uso </a>
            <a href="/politicas"> Politica de privacidade </a>
            <a href="/utilizar"> Como utilizar </a>
        </div>
    </nav>
</footer>

</html>